@import '../../index.scss';

.container {
  font-size: $normal;
  width: 70%;
  margin: 2rem auto;

  .title {
    margin: 1.5rem auto;
    width: 90%;
    color: $main-blue;
    font-size: $x-big;
    text-align: center;
  }

  .secondary_text {
    width: 90%;
    font-size: $small;
    color: $gray;
    text-align: center;
    margin: 1rem auto;
  }

  .primary_text {
    width: 90%;
    font-size: $normal;
    color: $main-blue;
    text-align: center;
    margin: 1rem auto 0;
  }

  .filled_btn {
    color: $white;
    background-color: $main-blue;
    @include btn;
  }

  .empty_btn {
    color: $main-blue;
    background-color: $white;
    @include btn;
  }

  .inactive_btn {
    background-color: $inactive-blue;
  }
}
