@import '../../index.scss';

.container {
  color: $gray;
  font-size: $normal;
  padding: 1rem 2rem;
  box-shadow: -1px 2px 5px 0px $gray;
  -webkit-box-shadow: -1px 2px 5px 0px $gray;
  -moz-box-shadow: -1px 2px 5px 0px $gray;

  .wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 2.5rem;

    .back {
      cursor: pointer;
    }

    .highlight {
      @include highlight;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    > * {
      padding: 0.5rem;
    }

    .back_btn {
      display: flex;
      align-items: center;

      .icon {
        fill: currentColor;
        margin-right: 0.5rem;
        width: $normal;
      }
    }
  }
}
