/* Colores */
$white: #fff;
$main-blue: #0077c8;
$inactive-blue: #b9d9eb;
$error-red: #fc003c;
$success-green: #1ede48;
$dark-blue: #2e334e;
$gray: rgb(192, 192, 192);
/* Fin de Colores */

/* Tamaños de fuente */
$x-small: 1.2rem;
$small: 1.4rem;
$normal: 1.6rem;
$medium: 1.8rem;
$big: 2rem;
$x-big: 2.4rem;
/* Fin de tamaños de fuente */

/* Mixins */
@mixin highlight {
  color: $main-blue;
  font-weight: 600;
}

@mixin btn {
  cursor: pointer;
  margin: 2rem auto;
  padding: 1.5rem;
  width: 100%;
  border-radius: 15px;
  outline: none;
  font-size: $small;
  border: 1px solid currentColor;
  font-weight: 600;
}

@mixin wrapper {
  max-width: 60rem;
  margin: auto;
}
/*Fin de Mixins  */

/* Resets */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Arial, sans-serif;
}

body {
  font-size: $normal;
}

/* Fin de Resets */
