@import '../../index.scss';

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-line-pack: center;
  align-content: center;
  margin-top: 4rem;
  font-size: $normal;

  .card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 10rem;
    flex: 0 1 10rem;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;

    .avatar {
      border-radius: 50%;
      border: 1px solid $dark-blue;
    }

    .text {
      text-align: center;
      color: $dark-blue;
      padding: 1rem 0;
      font-weight: 600;
    }

    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}
